<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Oversigt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">
    <header>
        <a href="cupcake.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="/orders">View All Orders</a>
            <a href="/cart">Shopping Cart</a>
        </div>
        <div id="right-nav">

            <div th:if="${session.currentCustomer != null}">
                <span th:text="${session.currentCustomer.customeremail}"> </span>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <span th:text="${session.currentCustomer.customername}"></span>
                <div>
                    <a href="/vieworders.html">
                        <img src="../public/images/cart.png" th:src="@{/images/cart.png}" width="25%"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div id="content">
        <h1>Admin-Oversigt </h1>
        <a href="__admin-create-cupcake.html">CREATE A CUPCAKE</a>
        <a href="__admin-ordrer-oversigt.html">VIEW ORDERS</a>
        <a href="__admin-magic-page.html">MAGIC PAGE</a>
        <a href="__admin-oversigt.html">OVERVIEW</a>
        <br><br>
        <form method="post">
            <button id="create-button" type="submit" name="createorder" formaction="/createorder">Create Order</button>
            <button id="read-button" type="submit" name="readorder" formaction="/readorder">Read Order</button>
            <button id="update-button" type="submit" name="updateorder" formaction="/updateorder">Update Order</button>
            <button id="delete-button" type="submit" name="deleteorder" formaction="/deleteorder">Delete Order</button>
            <button id="list-tops-button" type="submit" name="viewtop" formaction="/list-tops">View TOPPING CUPCAKES</button>
            <button id="list-bottom-button" type="submit" name="viewbottom" formaction="/list-bottoms">View BOTTOM CUPCAKES</button>
        </form>

        <form method="post">
            <div id="dropdowns">
                <select th:each="topsList: ${topsList}" th:value="${topPrice}">
                    <option th:text="${topName}" th:value="${topPrice}"></option>
                </select>
            </div>
                <!--
                                <input type="text" name="customeremail" placeholder="EMAIL FOR LOGIN">
                                <input type="password" name="customerpassword" placeholder="Enter your password..">
                                <input type="password" name="customerpassword2" placeholder="Repeat password..">
                                <input type="text" name="customername" placeholder="Enter your Name.."/>
                -->
                <!-- Loop through the list using Thymeleaf -->
                <select name="tops" th:each="topList: ${topList}">
                    <option th:text="${tops.name}" th:value="${tops.price}"></option>
                </select>

                <!--
                    <option th:each="${topName}" th:value="${topPrice}"></option>

                <select name="tops" id="tops">



                </select>
                <select name="bottom" id="bottom">
                    <option th:each="bottom: ${bottomName}" th:value="${bottomPrice}"></option>

                </select>
                <select name="quantity" id="quantity">

                    <option th:each="quantity: ${quantity}" th:value="${quantity}"></option>

                </select>
                                   <input type="text" name="quantity" placeholder="Amount" th:text="${quantity}" th:value="${quantity}"/></input>-->
          </form>
            </div>
            <div id="order-button">
                <button type="submit" name="search" formaction="/addorder">Bestil</button>
            </div>
        </form>

    </div>


    <p class="errormessage" th:text="${#ctx.message}"></p>
</div>


</div>

</body>
</html>