<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">
    <header>
        <a href="cupcake.html" th:href="@{/public}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="85%"/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="/orders">View All Orders</a>
            <a href="/cart">Shopping Cart</a>
        </div>
        <div id="right-nav">
            <div th:if="${session.currentAdmin != null}">
                <span th:text="${session.currentAdmin.adminemail}"> </span>
                <a href="/logout" th:href="@{/logout}">Logout</a>
            <span th:text="${session.currentAdmin.adminname}"></span>
                <div>
                    <a href="/vieworders.html">
                        <img src="../public/images/cart.png" th:src="@{/images/cart.png}" width="15%"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div id="content">

        <div id="intro-text">
            <h1>ADMIN PANEL</h1>
            <h2>Øens bedste cupcakes</h2>
        </div>

        <form method="post">
            <div id="dropdowns">
    <!--
                    <input type="text" name="customeremail" placeholder="EMAIL FOR LOGIN">
                    <input type="password" name="customerpassword" placeholder="Enter your password..">
                    <input type="password" name="customerpassword2" placeholder="Repeat password..">
                    <input type="text" name="customername" placeholder="Enter your Name.."/>
    -->
                            <!-- Loop through the list using Thymeleaf -->
                           <!-- <option th:each="productlineList : ${productlineList}" th:value="${item.id}" th:text="${bottom.name}"></option>
    -->

<!--                    <input type="text" name="quantity" placeholder="Amount" th:text="${quantity}" th:value="${quantity}"/></input>-->

            </div>

        </form>

    </div>




    <p class="errormessage" th:text="${#ctx.message}"></p>
</div>

</body>
</html>