<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <h1>Cupcake</h1>
        <p>Create your account: Fill user informations</p>
        <div class="centered-form">


            <form method="post">
                <input type="text" name="customername"  placeholder="Enter your Name.."/>
                <input type="password" name="customerpassword" placeholder="Enter your password..">
                <input type="password" name="customerpassword2" placeholder="Repeat password..">
                <input type="text" name="customeremail" placeholder="EMAIL FOR LOGIN">
                <button type="submit" formaction="/createcustomer">Create Customer</button>
            </form>
        </div>
        <p class="errormessage" th:text="${#ctx.message}"></p>
        <div th:if="${session.currentCustomer != null}">
            <span th:text="${session.currentCustomer.customername}"> </span> |
            <a href="/logout" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>
</body>
</html>
