<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cupcake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="../public/css/styles.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">
    <header>
        <a href="cupcake.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="35%"/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="https://dr.dk">Ordrer</a>
            <a href="https://eb.dk">Kunder</a>
        </div>
        <div id="right-nav">
            <div th:if="${session.currentCustomer != null}">
                <span th:text="${session.currentCustomer.customeremail}"> </span> |
                <a href="/logout" th:href="@{/logout}">Logout</a>
            </div>
            <span th:text="${session.currentCustomer.customername}"></span>
        </div>
    </nav>

    <div id="content">

        <div id="intro-text">
            <h1>Velkommen ombord</h1>
            <h2>Øens bedste cupcakes</h2>
        </div>

        <div id="dropdowns">
            <select name="bottom" id="bottom">
                <option>Vælg bund</option>
                <option value="chocolate">Chokolade (5 kr)</option>
                <option value="vanilla">Vanille (8 kr)</option>
                <option value="nutmeg">Nutmeg (5 kr)</option>
                <option value="pistacio">Pistacio (6 kr)</option>
                <option value="almond">Almond (5 kr)</option>
            </select>
            <select name="top" id="top">
                <option>Vælg top</option>
                <option value="chocolate">Chokolade (5 kr)</option>
                <option value="blueberry">Blueberry (5 kr)</option>
                <option value="raspberry">Raspberry (5 kr)</option>
                <option value="blueberry">Blueberry (5 kr)</option>
                <option value="crispy">Crispy (6 kr)</option>
                <option value="strawberry">Strawberry (6 kr)</option>
                <option value="rum/raisin">Rum/Raisin (7 kr)</option>
                <option value="orange">Orange (8 kr)</option>
                <option value="lemon">Lemon (8 kr)</option>
                <option value="blue cheese">Blue cheese (9 kr)</option>
            </select>
            <select name="quantity" id="quantity">
                <option>Vælg antal</option>
                <option value="1">1 stk</option>
                <option value="1">2 stk</option>
                <option value="1">3 stk</option>
            </select>
        </div>

        <!--
        <div id="comment">
            <textarea cols="40" rows="4" placeholder="Har du en kommentar, så skriv den her ...">

                </textarea>
        </div>
        -->
        <div id="order-button">
            <button type="submit">Bestil</button>
        </div>


    </div>




    <p class="errormessage" th:text="${#ctx.message}"></p>
</div>

</body>
</html>