<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olsker Cupcakes</title>
</head>
<body>
<header>
    <h1>Welcome to Olsker Cupcakes!</h1>

    <h2>Order your cupcakes here :) </h2>
</header>
<main>
    <form action="mailto:ilovecupcakes@cphbusiness.dk" method="post" enctype="text/plain">
        <fieldset>
            <legend>Order</legend>
            <form method="post">
                <div class="dropdowns-case">
                    <select class="dropdowns" name="TOP" id="top">
                        <option disabled selected>Choose Topping</option>
                        <option value="Chocolate">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <br/>
                    <br/>
                    <br>
                    <div class="dropdowns-case">
                        <select class="dropdowns" name="foodcategory" id="foodcategory">
                            <option disabled selected>Choose Bottom</option>
                            <option value="fruits">Fruits</option>
                            <option value="vegetables">Vegetables</option>
                            <option value="fish">Fish</option>
                            <option value="mushrooms">Mushrooms</option>
                            <option value="toxic-mushrooms">Toxic Mushrooms</option>
                        </select>
                        <br>
                        <br>
                        <label for="number">NUMBER OF CUPCAKES</label>
                        <br>
                        <br>
                        <input type="number" id="number" name="number" min="1" max="100" value="1">
                        <br>
                        <br>
                        <input type="submit" value="ORDER NOW!">
                    </div>

        </fieldset>
    </form>
</main>
<footer>
    <p>Olsker Cupcakes Orders</p>
    <p>ilovecupcakes@cphbusiness.dk</p>
</footer>
</body>
</html>